body
{
	margin: 0px;
}

body::-webkit-scrollbar
{ 
	display: none; 
}

/*Body header */

#body-header
{
	height: 65vh;
	background-image: url(macbook-mouse.jpg);
/*	background-image: linear-gradient(50deg, #43cea2, #185a9d 80%);*/
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 0.1rem;

}

/* Horizontal lists */

.dropdown-menu
{
	width: 8vw;
	position: relative;
	left: 90vw;
	top: 5vh;
/*    border: solid white 1px;*/
}

.bars
{
	display: none;
	color: white;
	margin: 0;
	margin-right: 5%;
	text-align: center;
    
}

.bars i
{
    font-size: 2rem;
}

.dropdown-list
{
	display: none;
	background-color: #828470;
	border-radius: 0.3rem;
	opacity: 0.8;
	box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul
{
	margin: 0.2rem 0.2rem;
	text-align: left;
	padding: 0px 0.8rem;
}

.dropdown-list li
{
	margin: 0.4rem 0;
}

.dropdown-menu:hover .dropdown-list
{
	display: block;
	position: absolute;
	right: 0%;
}

.no-list-style
{
	list-style: none;
}

.no-list-style li
{
	font-size: 1.5rem;
}

.no-list-style li a
{
	color: white;
	text-decoration: none;
}

.horizontal-list
{
	list-style: none;
	padding-left: 0px; /*there's some padding so make it 0 */
	margin: 0px;
/*	position: fixed; ???????????????? */
}

.horizontal-list li
{
	display: inline-block;
	margin: 20px 25px 0px 25px;
	font-size: 1.5rem;
}

.horizontal-list li a
{
	text-decoration: none;
	color: white;
}

.nav-menu li a
{
	transition: color 0.3s ease-in-out;
}

.nav-menu li a:hover
{
	color: darkslategrey;
	border-bottom: 1px solid white;
}

.horizontal-social-list
{
	list-style: none;
	padding-left: 0px; /*there's some padding so make it 0 */
	margin: 0px;
/*	position: fixed; ???????????????? */
}

.horizontal-social-list li
{
	display: inline-block;
	margin: 10px 20px 10px 20px;
}

.horizontal-social-list li a
{
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

/* Align classes */

.element-center
{
	text-align: center;
}

/* Name and Social Icons */

#name-social-container
{
	margin-top: 20vh;
}

#my-name
{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
}

.social-icons li a i
{
	padding: 10px;
	border-radius: 50%;
}

.social-icons li a i:hover
{
	transition: all 0.4s ease-in;
	color: darkslategrey;
	box-shadow: 0px 0px 8px 5px white;/* This is the border color, no need to set border-color separately*/
}

section
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n+1) /* Section numbers that are multiples of 2 will have light grey background color */
{
	background-color: #9e9b9b29;
}

section:nth-child(2n) /* Section numbers that are odd will have light grey background color, can use odd / even for 2n+1 / 2n alternatively */
{
	background-color: white;
}

.section-heading
{
	width: auto;
	padding: 20px 10px;
}

.section-heading span
{
	font-weight: 500;
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	font-family: sans-serif;
/*	margin-right: 0.5rem;*/
}

/* Common margin classes */
.margin-section-heading
{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* Main */

/* About section */

#my-img
{
	height: 18rem;
	width: 18rem;
	margin: auto; /* To bring image to center */
	margin-top: -17vh;
}

#my-img img
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 4px 6px white;/*#F0F0F0;*/
}

#about
{
	position: relative; /* To bring profile pic above background image */
}

#about-content
{
	margin: 6vh 10vw 10vh 10vw;
	color: #505252;/*#646867;/*grey;*/
	font-size: 1.8rem;
	text-align: justify;
	line-height: 2.5rem;
	font-family: sans-serif;
}

#leetcode-link a
{
	text-decoration: none;
}

.color-text-blue
{
	color: darkblue;
}


/* Skills section */

#skills-display
{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 5rem;
}

.skill-progress
{
	width: 15rem;
	height: 1.5rem;
	background-color: darkgrey;
	border-radius: 0.8rem;
	box-shadow: 0px 0px 2px 2px #b9b9b9 inset;
	margin: 2rem;
}

.skill-name /* or .skill-progress>div */
{
	border-radius: 20px 0px 0px 20px;
}

.skill-name span
{
	color: white;
	font-size: 1.2rem;
	margin-left: 10px;
}

#cpp-skill
{
	background: linear-gradient(-50deg, #185a9d, #dc2430);
	width: 85%;
	height: inherit;
}

#html-skill
{
	background-image: linear-gradient(50deg, #43cea2, #185a9d);
	width: 80%;
	height: inherit;
}

#css-skill
{
	background-image: linear-gradient(-50deg, #4568dc, #b06ab3);
	width: 80%;
	height: inherit;
}

#dsa-skill
{
	background: linear-gradient(50deg, #36d1dc, #5b86e5);
	width: 65%;
	height: inherit;
}

#sql-skill
{
	background-image: linear-gradient(50deg, #ff512f, #dd2476);
	width: 70%;
	height: inherit;
}

#py-skill
{
	background: linear-gradient(50deg, #bdc3c7, #2c3e50);
/*	background: linear-gradient(-67.7deg, rgb(252, 185, 125) -0.9%, rgb(245, 231, 106) 22.8%, rgb(160, 236, 208) 50.3%, rgb(57, 178, 209) 75.5%, rgb(183, 174, 193) 100.2%);*/
	width: 55%;
	height: inherit;
}

#java-skill
{
	background-image: linear-gradient(50deg, #cc2b5e, #753a88);
	width: 55%;
	height: inherit;
}

#packet-skill
{
	background-image: linear-gradient(-50deg, #3a1c71, #d76d77, #ffaf7b);
	width: 60%;
	height: inherit;
}



/* Timeline/Education section */

.timeline
{
    position: relative;
    width: 75%;
    margin-bottom: 5rem;
}

.timeline-box
{
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n)
{
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after
{
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after
{
    left: -9%;
}

.timeline-container
{
    padding: 8px;
}

.timeline-divider
{
    position: absolute;
    height: 65%;
    width: 0;
    top: 10%;
    left: 50%;
    border: 2px dashed #0096fa6b;
}

.timeline-traveller
{
	position: sticky;
	top: 25%;
	z-index: 2;
}

.timeline-divider i
{
	transform: rotate(90deg);
	margin-top: -35px;
	display: block;
	color: #2857a4;
}


.org-logo img
{
	max-height: 32px;
	vertical-align: middle;
}

.org-name
{
	vertical-align: middle;
	color: #2857a4;
	font-size: 1.5rem;
	font-family: sans-serif;
}

.org-course
{
	color: #F78308;
	font-size: 1.4rem;
	font-family: sans-serif;
}

.org-time
{
	color: lightslategrey;
	font-size: 1.2rem;
	font-family: sans-serif;
}

.org-content
{
	color: #505252;
	font-size: 1.1rem;
	font-family: sans-serif;
	text-align: justify;
	line-height: 1.4;
}

/*
.org-name
{
    font-size: 1.4rem;
    color: #2857a4;
}

.org-course {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.org-time {
    color: #9e9b9b;
    font-weight: 100;
    color: darkgrey;
    font-size: 1rem;
}

.org-content {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}
*/


/* Projects/Portfolio section */

#portfolio-display
{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 5rem;
}

.portfolio-img-container
{
	width: 350px;
	height: 300px;
	overflow: hidden;
	margin: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.portfolio-img-container img
{
    width: 100%;
    height: 100%;
}

.portfolio-desc
{
	position: absolute; /* Why????? */
	top: 0; /* Why????? */
	left: 0; /* Why????? */
	height: 100%;
	width: 100%;
	color: transparent;
	text-align: center;
	font-size: 2.5rem;
	font-family: sans-serif;
	padding: 10px;
}

.portfolio-img-container:hover
{
	box-shadow: 0px 0px 20px 6px #74ADC8;
}

.portfolio-img-container:hover .portfolio-desc
{
	transition: all 0.5s ease-in-out;
	background-color: #80808078;
	color: white;
}

/* Contact section */

#contact
{
	background-image: linear-gradient(50deg, #43cea2, #185a9d 80%);
/*	background-image: linear-gradient(50deg, #185a9d, #dc2430);*/
	color: white;
	padding-bottom: 1rem;
}

#contact span
{
	color: white;
}

#contact-form-container
{
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#contact-form
{
/*	border: 1px solid white;*/
	margin-bottom: 50px;
	margin-left: 5%;
}

#contact-form input, textarea
{
	margin-bottom: 20px;
	width: 33vw;
	padding: 10px 20px;
	background: transparent;
	border: solid 0px transparent;
	border-bottom: 2px solid white;
	font-size: 1.1rem;
	color: white;
}

#contact-form button[type="submit"]
{
	padding: 10px 20px;
	background: transparent;
	border: solid 2px white;
	font-size: 1.1rem;
	color: white;
	margin-top: 3%;
	margin-left: 35%;
}

#contact-form button[type="submit"]:hover
{
/*	color: #13386fe0;*/
	color: #2FA1A0;
	background: white;
}

#my-details-container
{
	width: 40vw;
/*	border: 1px solid white;*/
	margin-bottom: 50px;
	padding: 10px 0 0 0;
}

.my-details-heading
{
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 20px;
	padding-left: 30px;
}
.my-details-info-container
{
	font-size: 1rem;
	margin-bottom: 15px;
	padding-left: 30px;
}

input:focus, select:focus, textarea:focus, button:focus
{
	outline: none;
}



@media only screen and (max-width: 600px)
{
	.timeline-divider
	{
		left: 8%;
	}

	.timeline-box
	{
		left: 12% !important;
		width: 80%;
	}
	.timeline-box:nth-child(2n)
	{
		left: 12%;
		width: 80%;
	}
	
	.timeline-box:nth-child(2n+1)
	{
		left: 12%;
		width: 80%;
	}

	.timeline-box:nth-child(2n+1)::after
	{
		left: -7% !important;
	}
	.timeline-box:nth-child(2n)::after
	{
		left: -7%;
	}
}

@media only screen and (max-width: 770px)
{
	#contact-form
	{
		margin-left: 0;
	}
	#contact-form input, textarea
	{
		margin-bottom: 30px;
		width: 70vw;
		padding: 5px 15px;
		font-size: 1.1rem;
		margin-bottom: 20px;
	}
	#my-details-container
	{
		width: 90vw;
		margin-bottom: 20px;
	}

	.bars
	{
        	display: block;
    	}
	.nav-menu
	{
	display: none;
	}
	#name-social-container
	{
		margin-top: 22vh;
	}
}
